= content_tag :div,
              class: 'resource-voting',
              data: { opinion: resource.opinion(current_user) } do
  = 'Score: '
  = content_tag :b, class: 'resource-score' do
    = resource.score
  - if user_signed_in? && !current_user.author_of?(resource)
    = link_to 'Upvote',
              polymorphic_path(resource, action: :upvote),
              class: 'upvote-resource-link',
              method: :post,
              remote: true
    = link_to 'Cancel vote',
              polymorphic_path(resource, action: :cancel),
              class: 'cancel-resource-link',
              method: :delete,
              remote: true
    = link_to 'Downvote',
              polymorphic_path(resource, action: :downvote),
              class: 'downvote-resource-link',
              method: :post,
              remote: true
